[user]
	name = zombopanda
	email = 1810282+zombopanda@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
	colorMoved = default
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
